body{
    background-image: url('img/bg.png');
    background-size: cover;
}
.container{
    align-items: flex-start;
}
.bigContainer{
    background-color: white;
    width: 40%;
    height: 40vh;
    border-radius: 10px;
    display: inline-flex;
    margin: 25px;
    padding: 10px;
}
.smallContainer{
    background-color: white;
    width: 20%;
    height: 40vh;
    border-radius: 10px;
    display: inline-flex;
    margin: 25px;
}
#imgbob{
    height: 15vh;
}
.data{
    display: block;
}
.imgdiv{
    display: block;
}
.title{
    display: block;
}